<script type="text/html" id="node-tmpl">
<div style="border-bottom: 1px solid black" id="{%= o.id %}">
  <span>{%= o.id %}</span>
  <form method="post"
        class="fileupload"
        enctype="multipart/form-data"
        action="http://beam.s3.amazonaws.com"
        data-target-uuid="{%= o.id %}">
    <input id="Content-Type" name="Content-Type" type="hidden" value="binary/octet-stream" />
    <input id="key" name="key" type="hidden" value="" />
    <input id="AWSAccessKeyId" name="AWSAccessKeyId" type="hidden" value="" />
    <input id="acl" name="acl" type="hidden" value="private" />
    <input id="success_action_status" name="success_action_status" type="hidden" value="200" />
    <input id="success_action_redirect" name="success_action_redirect" type="hidden" value="" />
    <input id="policy" name="policy" type="hidden" value="" />
    <input id="signature" name="signature" type="hidden" value="" />
    <!-- fields below this are ignored by Amazon S3 -->
    <input id="file" name="file" type="file" />
  </form>
</div>
</script>
<div id="node-container">
<% @endpoints.each do |endpoint| %>
  <div style="border-bottom: 1px solid black" id="<%= endpoint.id %>">
  <%= link_to( endpoint.to_s, endpoint,
              :confirm => 'Are you sure?',
              :method => :delete ) %>
    <!-- File Upload -->
    <% # don't use form_tag -> generates extra stuff that Amazon doesn't like %>
    <% # each form corresponds to one target endpoint %>
    <form method="post"
          class="fileupload"
          enctype="multipart/form-data"
          action="http://beam.s3.amazonaws.com"
          data-target-uuid="<%= endpoint.id %>">
     <%= hidden_field_tag("Content-Type", "binary/octet-stream") %>
     <%= hidden_field_tag(:key, "") %>
     <%= hidden_field_tag(:AWSAccessKeyId, "") %>
     <%= hidden_field_tag(:acl, "private") %>
     <%= hidden_field_tag(:success_action_status, "200") %>
     <%= hidden_field_tag(:success_action_redirect, "") %>
     <%= hidden_field_tag(:policy, "") %>
     <%= hidden_field_tag(:signature, "") %>
     <!-- fields below this are ignored by Amazon S3 -->
     <%= file_field_tag(:file) %>
    </form>
  </div>
<% end %>
</div>
