<div>
<% @endpoints.each do |endpoint| %>
  <div style="border-bottom: 1px solid black">
  <%= link_to( endpoint.to_s, endpoint,
              :confirm => 'Are you sure?',
              :method => :delete ) %>
    <!-- File Upload -->
    <% # don't use form_tag -> generates extra stuff that Amazon doesn't like %>
    <% # each form corresponds to one target endpoint %>
    <form method="post"
          id="fileupload"
          enctype="multipart/form-data"
          action="http://beam.s3.amazonaws.com"
          data-target-uuid="<%= endpoint.id %>">
     <%= hidden_field_tag("Content-Type", "binary/octet-stream") %>
     <%= hidden_field_tag(:key, "") %>
     <%= hidden_field_tag(:AWSAccessKeyId, "") %>
     <%= hidden_field_tag(:acl, "private") %>
     <%= hidden_field_tag(:success_action_status, "200") %>
     <%= hidden_field_tag(:success_action_redirect, "") %>
     <%= hidden_field_tag(:policy, "") %>
     <%= hidden_field_tag(:signature, "") %>
     <!-- fields below this are ignored by Amazon S3 -->
     <%= file_field_tag(:file) %>
    </form>
  </div>
<% end %>
</div>