<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <title>Beam</title>
  <script type="text/javascript">
    var WEB_SOCKET_SWF_LOCATION = '/vendor/web-socket-js/WebSocketMain.swf';
  </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
