<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <title>Beam</title>
  <script type="text/javascript">
    /** @const URL of SWF fallback */
    const WEB_SOCKET_SWF_LOCATION = '/vendor/web-socket-js/WebSocketMain.swf';
    /** @const URL of node server to register web sockets */
    const SOCKET_URL = "<%= ENV['BEAM_SOCKET_URL'] %>";
  </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
